
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                    <div class="logoarea pt-5 pb-5">
                        <div class="info">
                            <h1 class="text-light">CONTOSO BANK</h1>
                            <p class="text-dark">
                                Different loans for different needs
                                Presenting a wide range of loans to power your dreams
                            </p>
                            <a href="/home/ApplicationForm" class="btn btn-light text-center font-weight-bold">APPLY NOW</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-5"></div>
        </div>
            
    </div>
    